fastapi
uvicorn
motor
dnspython
passlib[bcrypt]
python-jose[cryptography]
pydantic
python-multipart
python-dotenv
pillow
opencv-python
numpy
paddleocr
paddlepaddle
cloudinary
opencv-python
numpy
ultralytics
inference-sdk
dotenv